APP_NAME=fastapi-template

DB_MAIN_URL=postgresql+asyncpg://postgres:123456@127.0.0.1:5432/pickup
AUTH_SECRET_KEY=
PWD_PRIVATE_KEY=
PWD_PUBLIC_KEY=
API_KEYS=


REDIS_CACHE_URL=redis://:123456@localhost:6379/1
REDIS_LIMITER_URL=redis://:123456@localhost:6379/0
REDIS_PMS_URL=redis://:123456@localhost:6379/2
REDIS_LOCK_URL=redis://:123456@localhost:6379/0
REDIS_SOCKET_URL=

TOKEN_SECRET_KEY=

DB_MAIN_TEST_URL=postgresql+asyncpg://postgres:123456@127.0.0.1:5432/pickup_test
