services:
  api:
    image: pickup
    restart: on-failure:3
    # command: ["gunicorn", "-c", "gunicorn.conf.py", "manage:app"]
    env_file: .env.prod
    environment:
      APP_ENV: production
    volumes:
      - /data/logs/pickup:/data/logs/pickup
      - /data/resource/pickup:/data/resource/pickup
      - /data/db:/data/db
    ports:
      - "9000:5555"

  celery_worker:
    image: pickup
    restart: on-failure:3
    env_file: .env.test
    command: celery -A app.celery.celery_app worker -P gevent -c 1 -l INFO -f /data/logs/worker.pickup.log
    depends_on:
      - api

  celery_beat:
    image: pickup
    restart: on-failure:3
    env_file: .env.test
    command: celery -A app.celery.celery_app beat -l INFO -f /data/logs/beat.pickup.log
    volumes:
      - /data/resource/pickup:/data/resource/pickup
    depends_on:
      - api